@import '../../lib/header/style/header.scss';
@import '../../lib/sider/style/sider.css';

.personal-blog {
    width: 80%;
    height: 100%;
    margin: auto;
    background-color: #fff;
}

.blog-content {
    padding: 0 40px;
}